body{
    background: rgb(172, 171, 171);
}
header {
    padding: 30px 30px;
    background-color: purple;
}
#headerLeft {
   font-size: x-large;
    margin: 10px 20px;
}
#headerRight {
    
    margin: 10px 20px;
}
.score{
    font-size: larger;
    border-radius: 25px;
    background-color: white;
    color: purple;
    
}
.time {
    /* padding-left: 20px; */
    font-size: x-large;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    color: purple;
}
#gameArea, #scoreArea, #scoreCard {
    text-align: center;
    margin: 100px  auto;
    border:5px purple solid;
    padding: 40px;
    width: 50%;
    border-radius: 25px;

}
#question {
    padding-bottom: 20px;
}
#gameArea button {
    margin: 5px 10px;
    padding: 0 10px;
}

#scoreArea {
    display: none;  
}    

.btn {
    display: none;

}
.gamebtn {
    background-color: purple;
    color: aliceblue;
    font-size: larger;
    border-radius: 25px;
}
.gamebtn:hover {
    padding: 10px 10px;
}
.gamebtn:focus {
    outline: 0;
}

.nameInput{
    border-radius: 25px;
    padding-left: 15px;
}


#backToGame{
    text-align: center;
    font-size: 20px;
    
}